@charset "UTF-8";
// Bootstrap variables

$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #373a3c !default;
$gray-900: #212529 !default;
$black: #000 !default;

$blue: #1177d1 !default;
$indigo: #6610f2 !default;
$purple: #613d7c !default;
$pink: #e83e8c !default;
$red: #d9534f !default;
$orange: #f0ad4e !default;
$yellow: #ff7518 !default;
$green: #5cb85c !default;
$teal: #20c997 !default;
$cyan: #5bc0de !default;

$primary: #8d2363 !default;
$secondary: #f29400 !default;
$savoir-darkprimary: #6e1b4d !default;
$savoir-darkgrey: #2d2a2b !default;
$savoir-lightergrey: #544e50 !default;

$success: $green !default;
$info: $cyan !default;
$warning: $yellow !default;
$danger: $red !default;
$light: $gray-100 !default;
$dark: $gray-800 !default;

// Options
$enable-rounded: false !default;

// Body
$body-color: $gray-800 !default;

// Fonts
$font-family-sans-serif: 'Montserrat', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$font-size-base: 0.9375rem !default;
$headings-font-weight: 300 !default;

// Navbar
$drawer-width: 240px !default;

/** Check other navbar definitions such as padding, etc... */

$navbar-dark-color: $white !default;
$navbar-dark-hover-color: darken($navbar-dark-color, 10%) !default;
$navbar-dark-active-color: darken($navbar-dark-color, 10%) !default;
$navbar-dark-disabled-color: darken($navbar-dark-color, 30%) !default;
$navbar-dark-toggler-icon-bg: str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#{$navbar-dark-color}' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E"), "#", "%23") !default;
$navbar-dark-toggler-border-color: darken($navbar-dark-color, 10%) !default;

// Dropdowns
//
// Dropdown menu container and contents.
$dropdown-bg: $savoir-lightergrey !default;
$dropdown-border-color: rgba($black, .15) !default;
$dropdown-divider-bg: $dropdown-bg !default;
$dropdown-box-shadow: 0 .5rem 1rem rgba($black, .175) !default;

$dropdown-link-color: $white !default;
$dropdown-link-hover-color: lighten($dropdown-link-color, 10%) !default;
$dropdown-link-hover-bg: darken($dropdown-bg, 10%) !default;

$dropdown-link-active-color: lighten($dropdown-link-color, 10%) !default;
$dropdown-link-active-bg: darken($dropdown-bg, 10%) !default;

$dropdown-link-disabled-color: saturate($dropdown-link-color, 30%) !default;

$dropdown-item-padding-y: .25rem !default;
$dropdown-item-padding-x: 1.5rem !default;

$dropdown-header-color: $gray-600 !default;


// Breadcrumbs
$breadcrumb-padding-y: .25rem !default;
$breadcrumb-padding-x: 0 !default;
$breadcrumb-item-padding: .5rem !default;
$breadcrumb-margin-bottom: 0 !default;
$breadcrumb-bg: transparent !default;
$breadcrumb-divider: "/" !default;
$breadcrumb-divider-rtl: "/" !default;

// Alerts
$alert-border-width: 0 !default;


$theme-colors: (
        primary: $primary,
        secondary: $gray-400,
        success: $success,
        info: $info,
        warning: $orange,
        danger: $danger,
        light: $gray-100,
        dark: $gray-800
);

// Import FontAwesome.
@import "fontawesome";

// Import All of Bootstrap
@import "bootstrap";

// Import Core moodle CSS
@import "moodle";

// Preset CSS

body {
  -webkit-font-smoothing: antialiased;
}

.navbar {
  box-shadow: 0 2px 4px rgba(0, 0, 0, .08);
}

.filemanager-container,
.filepicker-filelist {
  @extend .border;
}

// Rounded user pictures
.userpicture {
  border-radius: 50%;
}

@include bg-variant(".bg-gray", $gray-200);
