{{^divider}}
{{#haschildren}}
<li class="dropdown nav-item">
    <a class="dropdown-toggle nav-link" id="drop-down-{{uniqid}}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#" aria-controls="drop-down-menu-{{uniqid}}">
        {{{text}}}
    </a>
    <div class="dropdown-menu mt-0" role="menu" id="drop-down-menu-{{uniqid}}" aria-labelledby="drop-down-{{uniqid}}">
        {{#children}}
            {{^divider}}
                <a class="dropdown-item" role="menuitem" href="{{{url}}}" {{#title}}title="{{{title}}}"{{/title}}>{{{text}}}</a>
            {{/divider}}
            {{#divider}}
                <div class="dropdown-divider" role="presentation"></div>
            {{/divider}}
        {{/children}}
    </div>
</li>
{{/haschildren}}
{{^haschildren}}
<li class="nav-item">
    <a class="nav-item nav-link" href="{{{url}}}" {{#title}}title="{{{title}}}"{{/title}}>{{{text}}}</a>
</li>
{{/haschildren}}
{{/divider}}
