{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template theme_savoir/coursegrid-courses-by-category

    This template renders all courses in the list by category

    Example context (json):
    {
        "coursesbycategory": [ '1': [ name: 'Miscellaneous', courses: [{ ... coursedata ... },...], ...]
    }
}}
<div class="card mb-3 courses-view-course-category">
{{#coursesbycategory}}
        <div class="card-header">
            {{ name }}
        </div>
        <div class="card-body">
            <div class="container">
                <div class="row">
                    {{#courses}}
                        {{> theme_savoir/coursegrid-course-item }}
                    {{/courses}}
                </div>
            </div>
        </div>
{{/coursesbycategory}}
</div>