{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    Page header.
    SAVOIR: Change header specifically for the frontpage
}}
<header id="page-header" class="row">
    <div class="col-12 pb-3 pt-0">
        <div class="card">
            <div class="card-body pt-0">
                <div class="d-flex">
                    {{#settingsmenu}}
                        <div class="context-header-settings-menu">
                            {{{settingsmenu}}}
                        </div>
                    {{/settingsmenu}}
                </div>
                <div class="d-flex flex-wrap">
                    {{#hasnavbar}}
                        <div id="page-navbar">
                            {{{navbar}}}
                        </div>
                    {{/hasnavbar}}
                    <div class="ml-auto d-flex">
                        {{{pageheadingbutton}}}
                    </div>
                </div>
            </div>
        </div>
        {{#alertenabled}}
            <div class="card">
                <div class="card-body">
                    {{#alertmessage}}
                        <div class="alert alert-secondary alert-dismissible fade show rounded fixed-top mt-5 ml-1 mr-1" role="alert">
                            <div>{{{alertmessage}}}<div>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {{/alertmessage}}
                </div>
            </div>
        {{/alertenabled}}
        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-center">
                    <div class="site-frontpage-title">
                        {{{frontpagestitle}}}
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-center">
                    <div class="site-frontpage-slogan">
                        {{{frontpageslogan}}}
                    </div>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-center">
                    {{#loginurl}}<a href="{{loginurl}}" class="connect-button">{{#str}}login{{/str}}</a>{{/loginurl}}
                </div>
                <div class="d-flex justify-content-center pt-4">
                    <a href="{{{ config.wwwroot }}}/theme/savoir/pages/opencatalog.php">{{#str}}front_page_freecourses, theme_savoir{{/str}}</a>
                </div>
            </div>
        </div>

    </div>
</header>