{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    Page navbar.
    SAVOIR: Change dark theme into light theme
}}
<nav class="fixed-top navbar navbar-dark navbar-expand moodle-has-zindex" aria-label="{{#str}}sitemenubar, admin{{/str}}">

    {{^ output.should_display_sandwitch_menu }}
        <div class="d-inline-block mr-3 pl-1 pr-1 mr-0 logo">
            <div class="d-flex">
                    <a href="{{{ config.wwwroot }}}" class="navbar-brand has-logo m-auto">
                        <div class="mx-auto d-none d-sm-block">
                            <img src="{{output.get_logo_url}}" alt="{{sitename}}">
                        </div>
                        <div class="mx-auto d-sm-none">
                            <img src="{{output.get_compact_logo_url}}" alt="{{sitename}}">
                        </div>
                    </a>
            </div>
        </div>
    {{/ output.should_display_sandwitch_menu }}
    {{# output.should_display_sandwitch_menu }}
        <div data-region="drawer-toggle" class="d-inline-block">
            <button aria-expanded="{{#navdraweropen}}true{{/navdraweropen}}{{^navdraweropen}}false{{/navdraweropen}}" aria-controls="nav-drawer" type="button"
                    class="btn nav-link float-sm-left btn-primary " data-action="toggle-drawer" data-side="left" data-preference="drawer-open-nav">
                <span class="mx-auto pl-2 pr-2">
                    {{#pix}}i/menubars{{/pix}}<span class="sr-only">{{#str}}sidepanel, core{{/str}}</span>
                </span>
                <span class="sr-only">{{#str}}sidepanel, core{{/str}}</span></button>
        </div>
        <div>
            <img class="logo-in-navbar d-none d-md-block pl-1" src="{{output.get_logo_url}}" alt="{{sitename}}">
            <img class="logo-in-navbar d-none d-sm-block d-md-none  pl-1" src="{{output.get_compact_logo_url}}" alt="{{sitename}}">
        </div>
    {{/ output.should_display_sandwitch_menu }}

    <ul class="navbar-nav d-none d-md-flex">
        <!-- custom_menu -->
        <div class="custom-savoir-menu d-none d-lg-block">
            {{{ output.custom_menu }}}
        </div>
        <!-- page_heading_menu -->
        {{{ output.page_heading_menu }}}
    </ul>
    <ul class="nav navbar-nav ml-auto">
        <div class="d-none d-lg-block">
            {{{ output.search_box }}}
        </div>
        <!-- navbar_plugin_output -->
        <li class="nav-item">
            {{{ output.navbar_plugin_output }}}
        </li>
        <!-- user_menu -->
        <li class="nav-item d-flex align-items-center">
            {{{ output.user_menu }}}
        </li>
    </ul>
    <!-- search_box -->
</nav>

